.inverse {
  background-color: #7db61c;
  text-shadow: none;
}

.large { font-size: 130% }
.small { font-size: 70% }
.tiny { font-size: 40% }

.title-slide {
  background-image: url('./img/imagen1.png');
  background-size: 500px;
  background-position: -45% 50%;
  background-color: white;
}

.title-slide.remark-slide-content:before{
  position: absolute;
  content:url('./img/logo.jpg');
  bottom:   -30px;
  left:   215px;
  transform: scale(0.6, 0.6);
  -ms-transform: scale(0.6, 0.6);
  -webkit-transform: scale(0.6, 0.6);
}

/* title */
.title-slide h1:nth-of-type(1) {
  text-shadow: none;
  color: #7db61c;
  position: relative;
  left: 220px;
  text-align: left;
}

/* subtitle */
.title-slide h2 {
  text-shadow: none;
  font-weight: normal;
  color: black;
  margin-left: 225px;
  font-size: 130%;
  text-align: left;
}

/* author */
.title-slide h3:nth-of-type(1) {
  text-shadow: none;
  color: black;
  font-weight: bold;
  margin-left: 225px;
  font-size: 130%;
  text-align: left;
  position: relative;
  bottom: -80px;
}

/* date */
.title-slide h3:nth-of-type(2) {
  text-shadow: none;
  font-weight: normal;
  color: #b7b7b7;
  margin-left: 225px;
  font-size: 120%;
  text-align: left;
  position: relative;
  bottom: 80px;
}

/* hide slide number */
.title-slide .remark-slide-number {
  display: none;
}

h2 {
  color: #7db61c;
}

.remark-code {
  font-size: 15px;
}

code { /* changes inline code highlighting */
  background: #F5F5F5; /* lighter */
  /*background: #e7e8e2; /* darker */
  border-radius: 3px;
  padding: 4px;
}
